<p>{{ .Id }}</p>
<form action="javascript:void(0);" id="form">
  <input id="cmd"></input>
  <input type="submit" id="submit" value="send"></input>
</form>
<pre id="output">
</pre>

<script>
  const cmd = document.getElementById("cmd")
  const form = document.getElementById("form")
  const submit = document.getElementById("submit")
  const output = document.getElementById("output")
  const loc = window.location.host;
  const socket = new WebSocket(`ws://${loc}/ws`)

  function writeOutput(msg) {
    output.innerHTML += `${msg}\n`
  }

  socket.addEventListener("open", (evt) => {
    writeOutput("socket open")
    console.log(evt)
  })

  socket.addEventListener("error", (evt) => {
    writeOutput("error")
    console.log(evt)
  })

  socket.addEventListener("message", (evt) => {
    writeOutput(`<<< ${evt.data}`)
    console.log(evt)
  })

  socket.addEventListener("close", (evt) => {
    writeOutput("socket closed")
    console.log(evt)
  })

  form.addEventListener("submit", (evt) => {
    evt.preventDefault();

    const data = cmd.value;
    socket.send(data);
    writeOutput(`>>> ${data}`)
    cmd.value = "";
  })
</script>
